<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-item">
                2016 &copy; Copyright <a href="http://99webpage.com/">PearlBits</a><br> All rights Reserved.
            </div>
            <div class="col-md-4 footer-item">
                <!-- Start List Link -->
                <ul class="list-link">
                    <li><a href="#">About PearlBits</a></li>
                    <li><a href="#">Become a member</a></li>
                    <li><a href="#">Policies</a></li>
                </ul>
                <!-- End List Link -->
        
            </div>
            <div class="col-md-4 footer-item">
                <!-- Start Subscribe -->
                <h5>Stay update with us ! </h5>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter your email address...">
                  <span class="input-group-btn right">
                    <button class="btn btn-primary btn-bavel btn-lg" type="button">Subscribe</button>
                  </span>
                </div>
                <!-- End Subscribe -->
            </div>
        </div>
    </div>
</footer>
