	<nav class="navbar navbar-fixed-top">
		<div class="container relative">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon icon-menu"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<%= link_to "", root_path, class:"navbar-brand" %>
				</ul>
                <ul class="navbar-right">
                <li><%= link_to "Login", login_path, class:"btn btn-primary btn-bavel"%></li> 
					<li><%= link_to "Logout", logout_path, class:"btn btn-primary btn-bavel"%></li>
				</ul>
			</div>
		</div>
	</nav>
	
