<section id="tcb-testimonial-carousel" class=" parallax carousel slide carousel-bg " data-ride="carousel">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" data-wow-delay="0.2s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/rssems/128.jpg" alt="">
            </li>
            <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="">
            </li>
          </ol>
          <div class="carousel-inner text-center">
            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <br>Pearlbit provides services </br>we couldn't find anywhere else - </br> from customized branded links to </br> stats that let us know in real time what's working and what's not. </br>
                    <small>James</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <br>Branding is extremely important to us.</br> Having our own Branded Short Domain through Pearlbit</br> Brand Tools helps us keep our brand at the forefront </br> of all our social sharing efforts.</br>
                    <small> Tanny </small>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <br>PearlBit provides services </br> we couldn't find anywhere else - </br>from customized branded links to stats that let us </br>know in real time what's working and what's not.</br>
                    <small>Kate</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

