<section class="parallax bg-testimonial">
	<div class="overlay"></div>
	<div class="container"></div>
	<!-- Start title -->
	<div class="title-section small">
		<h4>Join PearlBits</h4>
		<p>leading link shortener built with rails....</p>
	</div>

	<div class="container">
		<div class="col-lg-8 col-lg-offset-2">			
			<%= form_for(:link, url: new_link_path) do |f| %>      
			<div class="input-group">
				<%= f.text_field :actual_url, placeholder: "Enter url" ,class:"form-control" %>
				<span class="input-group-btn">
					<%= f.submit 'PearlBit!' ,class: "btn btn-primary btn-md" %>
				</span>
			</div>
		</div>
	</div>

	<div>
		<%= link_to(flash[:short_url], flash[:short_url]) if flash[:short_url] %>
		<% end %>
	</div>
	<!-- End title -->
	<div class="clearfix"></div>
</section>
<!-- Start Pricing -->
<section id="Features">
	<div class="container">
		<!-- Start title -->
		<div class="title-section">
			<h4><strong>Features</strong></h4>
		</div>
		<!-- End title -->
		<!-- Start Pricing Table -->
		<div class="row">
			    <div class="col-md-4">
                    <!-- Start Pricing Primary -->
                    <div class="pricing-header">
                    </div>
                    <div class="pricing-table primary">
                        <div class="pricing-title">
                            <h5>Recent Links</h5>
                        </div>
                        <div class="pricing-list">
                            <ul>
                                <li><b>Single</b> Licence</li>
                                <li><b>Free</b> PSD</li>
                                <li><b>Personal</b> Use</li>
                                <li><b>24/7</b> Support</li>
                                <li>Documentation</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                        </div>
                    </div>
                    <!-- End Pricing Primary -->
                </div>
			<div class="col-md-4">
				<!-- Start Pricing Primary -->
				<div class="pricing-header">
				</div>
				<div class="pricing-table primary">
					<div class="pricing-title color-box-second">
						<h5>Recent Links</h5>
					</div>
					<div class="pricing-list ">
						<ul>
							<li><b>Single</b> Licence</li>
							<li><b>Free</b> PSD</li>
							<li><b>Personal</b> Use</li>
							<li><b>24/7</b> Support</li>
							<li>Documentation</li>
						</ul>
					</div>
					<div class="pricing-footer">
					</div>
				</div>
				<!-- End Pricing Primary -->
			</div>
			<div class="col-md-4">
				<!-- Start Pricing Secondary -->
				<div class="pricing-header">
				</div>
				<div class="pricing-table secondary">
					<div class="pricing-title color-box-third">
						<h5>Top PearlBiters</h5>
					</div>
					<div class="pricing-list">
						<ul>
							<li><b>Single</b> Licence</li>
							<li><b>Free</b> PSD</li>
							<li><b>Commercial</b> Use</li>
							<li><b>24/7</b> Support</li>
							<li>Documentation</li>
						</ul>
					</div>
					<div class="pricing-footer">
					</div>
				</div>
				<!-- End Pricing Secondary -->
			</div>
		</div>
	</section>
	<!-- End Pricing -->
	<div class="clearfix"></div>

	<!-- Start Testimonial -->
	<section id="tcb-testimonial-carousel" class="carousel slide carousel-bg " data-ride="carousel" >
		<div class="carousel-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="container">
						<div id="tcb-testimonial-carousel" class="carousel slide blockquote" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#tcb-testimonial-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#tcb-testimonial-carousel" data-slide-to="1"></li>
								<li data-target="#tcb-testimonial-carousel" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<div class="row">
										<div class="col-xs-12">
											<figure class="clearfix">
												<div class="col-md-2 col-sm-2 col-xs-12"><images class="images-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg"> </div>
												<div class="col-md-10 col-sm-10 col-xs-12">
													<figcaption class="caption">
														<p class="text-brand lead no-margin">I can't wait to test this out.</p>
														<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
														<blockquote class="no-margin">
															<p>Someone Famous</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
														</figcaption>
													</div>
												</figure>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="row">
											<div class="col-xs-12">
												<figure class="clearfix">
													<div class="col-md-2 col-sm-2 col-xs-12"><images class="images-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg"> </div>
													<div class="col-md-10 col-sm-10 col-xs-12">
														<figcaption class="caption">
															<p class="text-brand lead no-margin">I can't wait to test this out.</p>
															<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
															<blockquote class="no-margin">
																<p>Someone Famous</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
															</figcaption>
														</div>
													</figure>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="row">
												<div class="col-xs-12">
													<figure class="clearfix">
														<div class="col-md-2 col-sm-2 col-xs-12"><images class="images-responsive media-object" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg"> </div>
														<div class="col-md-10 col-sm-10 col-xs-12">
															<figcaption class="caption">
																<p class="text-brand lead no-margin">I can't wait to test this out.</p>
																<p><span class="glyphicon glyphicon-thumbs-up"></span> This is a testimonial window. Feedback of user can be displayed here.</p>
																<blockquote class="no-margin">
																	<p>Someone Famous</p> <small><cite title="Source Title"><i class="glyphicon glyphicon-globe"></i> www.example1.com</cite></small> </blockquote>
																</figcaption>
															</div>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<!-- Controls -->
										<a class="left carousel-control" href="#tcb-testimonial-carousel" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
										<a class="right carousel-control" href="#tcb-testimonial-carousel" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
									</div>


								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End Testimonial -->

				<div class="clearfix"></div>
